<div class="row container">
<header>
    <div class="row header-section">
        <div class="col-md-10 header-icon">
            <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
            <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-md-2 dropdown user-section" dropdown>
            Atul Acharya &nbsp
            <img class="logged-user dropdown-toggle" dropdown-toggle src="download.png" />
            <ul class="dropdown-menu" dropdown-menu>
                <li> <a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
</div>