<div class="left-sidebar">
    <div>
        <div>
        <img class="img-left" src="http://img.atb.am/upload/images/Monasteries/Garni/Garni_5.jpg">
        </div>
        <div class="header-img-text">Triumala Triupati Devasthanam</div>
    </div>
    <div>
        <ul>
            <li>Home</li>
            <li>Events</li>
            <li>Settlements</li>
            <li>Subscribers & Followers</li>
            <li>Settings &nbsp &nbsp <span ng-click="setting = !setting">
						<i class="fa fa-sort-down down-arrow"></i>
					</span>
                <ul ng-show="setting">
                    <li>Institution settings</li>
                    <li>User mangement</li>
                </ul>
            </li>
            <li>Contact admin</li>
        </ul>
    </div>
</div>